# Ignore venv folder
/.venv/
/venv/



# Ignore specific credentials files inside src/utils/
/src/utils/pruebasheetpython.json
/src/utils/credentials_module.json
/src/utils/client_secrets.json
/src/utils/settings.yml

/src/.env
# Ignore other sensitive files
google-chrome-stable_current_amd64.deb

# Ignore pycache files
*.pyc

# Bytecode and caches
__pycache__/

# Virtual environment folders
.venv/
env/

# VS Code
.vscode/

# Ignore workspace file
bot421.code-workspace

# Ignore SQL and markdown files and local git hooks
*.sql
*.md
.githooks/

# Ignore GCS credential if present locally
/src/upload_to_gcs.json
